
/* Estilos generales del sitio */
* { box-sizing: border-box; }

body {
    font-family: sans-serif;
    margin: 0;
    font-size: 14px;
}

a { text-decoration: none; }

/* Helpers - Clases generales */

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 24px;
}

@media (min-width: 1024px) {
    .container {
        padding: 0;
    }
}



/* Contenedor de columnas */
.columns {
    display: block;
    flex-wrap: wrap;
    margin-left: -9px;
    margin-right: -9px;
}

.column {
    padding: 9px;
}


@media (min-width: 600px) {
    .columns { display: flex; }
    .column.is-1 { width: 8.3333%; }
    .column.is-2 { width: 16.6666%; }
    .column.is-3 { width: 25%; }
    .column.is-4 { width: 33.3333%; }
    .column.is-5 { width: 41.6666%; }
    .column.is-6 { width: 50%; }
    .column.is-7 { width: 58.3333%; }
    .column.is-8 { width: 66.6666%; }
    .column.is-9 { width: 75%; }
    .column.is-10 { width: 83.3333%; }
    .column.is-11 { width: 91.6666%; }
    .column.is-12 { width: 100%; }
}

@media (min-width: 1024px) {
    .column.is-1-tablet { width: 8.3333%; }
    .column.is-2-tablet { width: 16.6666%; }
    .column.is-3-tablet { width: 25%; }
    .column.is-4-tablet { width: 33.3333%; }
    .column.is-5-tablet { width: 41.6666%; }
    .column.is-6-tablet { width: 50%; }
    .column.is-7-tablet { width: 58.3333%; }
    .column.is-8-tablet { width: 66.6666%; }
    .column.is-9-tablet { width: 75%; }
    .column.is-10-tablet { width: 83.3333%; }
    .column.is-11-tablet { width: 91.6666%; }
    .column.is-12-tablet { width: 100%; }
}

@media (min-width: 1280px) {
    .column.is-1-desktop { width: 8.3333%; }
    .column.is-2-desktop { width: 16.6666%; }
    .column.is-3-desktop { width: 25%; }
    .column.is-4-desktop { width: 33.3333%; }
    .column.is-5-desktop { width: 41.6666%; }
    .column.is-6-desktop { width: 50%; }
    .column.is-7-desktop { width: 58.3333%; }
    .column.is-8-desktop { width: 66.6666%; }
    .column.is-9-desktop { width: 75%; }
    .column.is-10-desktop { width: 83.3333%; }
    .column.is-11-desktop { width: 91.6666%; }
    .column.is-12-desktop { width: 100%; }
}


/* Header */

.header {
    background-color: darkblue;
    color: gold;
}

.header a {
    color: gold;
}

.header-top {
    display: flex;
}

.header-top .logo {
    margin: 12px 0;
}

.header-top .sociales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    text-align: right;
}

.header-top .sociales a {
    margin: 0 0 12px;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background-color: gold;
    color: darkblue;
    border-radius: 50%;
}

.header-top .fecha {
    text-transform: uppercase;
}

.header .menu a {
    display: inline-block;
    padding: 12px;
    
    text-transform: uppercase;
}


/* Página principal */
.destacadas .column.is-8-tablet .noticia h2 {
    color: brown;
}
.destacadas .column.is-4-tablet .noticia h2 {
    color: purple;
}

.secundarias .noticia h2 {
    color: tomato;
} 

/* Noticias */
.noticia {
    padding: 0 0 12px;
    border-bottom: 1px solid darkgray;
}

.noticia img {
    width: 100%;
}

.noticia.destacada h2 {
    font-size: 36px;
}

.noticia.sin-desc p {
    display: none;
}

.noticia.sin-linea {
    border: 0;
}

/* Paneles */

.panel {
    background-image: url('../img/noticia.jpeg');
    background-size: cover;
    height: 300px;
    margin-bottom: 24px;
}

.otroPanel img {
    width: 100%;
}

.otroPanel {
    position: relative;
}

.otroPanel .equipos {
    display: flex;
    justify-content: center;
    align-items: center;

    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(75,75,200,.5);
} 

.otroPanel .equipo {
    display: inline-block;

    margin: 0 24px;
    height: 120px;
    width: 120px;
    line-height: 120px;
    text-align: center;
    background-color: gold;
    color: darkblue;
    border-radius: 50%;
}

.otroPanel .fecha-partido {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    
    text-align: center;
    color: white;
} 